<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 주문조회</title>
</head>

<h2> 주문내역</h2>
<table id="table" border="1" style="width: 40%"  cellpadding="5" rules="rows">
<tr>
    <th>주문자</th><th>상품명</th><th>수량</th><th>총금액</th>
</tr>
</table>
<body>
<script type="text/javascript">
	var messages = "[[${orders}]]";
	var jsonMessage = messages.replace(/&quot;/g, "\""); // 서버랑 웹페이지랑 JSON 양식이 달라서 맞춰줌

	jsonfunc(jsonMessage); // JSON 을 파싱해서 HTML 로 표현함

	function jsonfunc( jsonText ) {
		let arrorderName = new Array(); // 주문자 배열
		let arrritemName = new Array(); // 상품명 배열
		let arrquantity = new Array(); // 수량 배열
		let arrprice = new Array(); // 총금액 배열

		let json = JSON.parse(jsonText); // JSON 형식으로 뽑아서 객체화

		for(i=0; i< json.length; i++){ 
			console.log(i + "번째 데이터");
			console.log(json[i]);

			arrorderName[i] = json[i].orderName;
			arrritemName[i] = json[i].itemName;
			arrquantity[i] = json[i].quantity;
			arrprice[i] = json[i].price;
		}

		// Javscript 로 HTML 속성 추가
		let table = document.getElementById('table');

		for(i=0; i<arrorderName.length; i++){
			let tr = document.createElement("tr"); // 테이블 행
			
			let td1 = document.createElement("td"); // 테이블 열을 만듦
			td1.appendChild(document.createTextNode(arrorderName[i] + "")); //  주문자 배열을 가져와서 내용을 추가함
			
			let td2 = document.createElement("td");	// 테이블 열을 만듦
			td2.appendChild(document.createTextNode(arrritemName[i] + "")); // 상품명 배열을 가져와서 내용을 추가함
			
			let td3 = document.createElement("td");	// 테이블 열을 만듦
			td4.appendChild(document.createTextNode(arrquantity[i]+ "")); // 수량 배열을 가져와서 내용을 추가함
			
			let td4 = document.createElement("td");	// 테이블 열을 만듦
			td4.appendChild(document.createTextNode(arrprice[i]+ "")); // 총금액 배열을 가져와서 내용을 추가함
			
			tr.appendChild(td1); // 열1 을 기준 행에다 붙임
			tr.appendChild(td2); // 열2 을 기준 행에다 붙임
			tr.appendChild(td3); // 열3 을 기준 행에다 붙임
			tr.appendChild(td4); // 열3 을 기준 행에다 붙임 
			
			table.appendChild(tr); // 기준 행을 테이블에다 붙임
		}
	}
</script>
</body>
</html>