<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/create.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <title>회원등록</title>
</head>
<body>
    <h2>회원등록</h2> 
    <br>
	<button class="btn-0" id="button-box1" type="button" onclick="location.href='/'">메인화면</button>
    <br>
 
    <form action="/members/create-member" method="post" name="Createmember">
        <p>이름  <input id="name" type="text" name="name" placeholder="이름" minlength="6" ></p>
        <p>주소  <input id="address" type="text" name="address" placeholder="주소" minlength="4" maxlength="10"></p>
        <p>전화번호  <input id="phone" type="text" name="phone" placeholder="000-0000-0000" minlength="13" maxlength="13" oninput="autoHyphen(this)"/></p>
        <br>
        <button class="btn-1" type="button" value="submit" onclick="checkNull()"; >등록</button>
        <br>
    </form>
    
    <script>
        // 전화번호 자동화 정규식 //
        const autoHyphen = (target) => {
            target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
        };

        //null 값 제외 조건
        function checkNull(){
            const name = document.getElementById('name').value;
            const address = document.getElementById('address').value;
            const phone = document.getElementById('phone').value;

            if(name == "" || address =="" || phone == "" ) {
                alert('필수 값을 입력하십시오');
                return;
            }
            document.Createmember.submit();
        }

        // json 형식으로 자료보내기 // 
        const Createmember = document.querySelector('.form') 

        Createmember.addEventListener('submit', event => {
            event.preventDefault();
            const CreateMemberData = new CreateMemberData(Createmember);
            const data = Object.fromEntries(CreateMemberData);

        fetch("/members/create-member", {
            method : 'get',
            headers : {
                "Content-Type" : "application/json"
            },
            body : JSON.stringify(data),
        }).then(res => res.json())
          .then(data => console.log(data))
          .catch(error => console.log(error))
    });
    </script> 
</body>
</html>