<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원조회</title>
</head>

<h2>회원등록 JSON 받아오기</h2>
<table id="table" border="1" style="width: 40%"  cellpadding="5" rules="rows">
<tr>
    <th>이름</th><th>주소</th><th>전화번호</th>
</tr>
</table>
<body>
<script type="text/javascript">

let xhttp = new XMLHttpRequest(); // 통신상태정보

xhttp.onreadystatechange = function () {    // 요청에 대한 응답 리스너

	if(xhttp.readyState == 4 && xhttp.status == 200){  
        //reedtstate = 상태 0 수행전 1 로딩중 2 로딩완료 3 서버처리중 4 서버처리완료
        //status = 200 tjdrhd 403 서버문제 403 없음 500 요청문제
        // 위 구문이 올바른 요청응답상태

		jsonfunc(this.responseText); // 응답을 받은 XML
	}
}
xhttp.open("GET","Members.json", true); //  불러올 파일 수정하기 
xhttp.send();

function jsonfunc( jsonText ) {
	let arrname = new Array();
	let arraddress = new Array();
	let arrphone = new Array();
	
	let json = JSON.parse(jsonText);

	for(i=0; i<json.length; i++){ 
		arrname[i] = json[i].name;
		arraddress[i] = json[i].address;
		arrphone[i] = json[i].phone;
	}
	let table = document.getElementById('table');

	for(i=0; i<arrname.length; i++){
		let tr = document.createElement("tr"); // 새로운 tag 추가
		
		let td1 = document.createElement("td");			  
		td1.appendChild(document.createTextNode(arrname[i] + "")); 
		
		let td2 = document.createElement("td");			 
		td2.appendChild(document.createTextNode(arraddress[i] + ""));
		
		let td3 = document.createElement("td");			 
		td3.appendChild(document.createTextNode(arrphone[i]+ "")); // 새tag추가 + tag안 내용추가
		
		tr.appendChild(td1);
		tr.appendChild(td2);
		tr.appendChild(td3);   //컬럼안에 새 tag추가
		
		table.appendChild(tr);
	}
}
</script>
</body>
</html>