<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원조회</title>  
</head>
<h2> 등록한 회원</h2>  <button id="button-box1" type="button" onclick="location.href='/'">메인화면</button>
<table id="table" border="1" style="width: 40%"  cellpadding="5" rules="rows">
<tr>
    <th>이름</th><th>주소</th><th>전화번호</th>
</tr>
</table>
<body>
<script type="text/javascript">
	var messages = "[[${members}]]";
	var jsonMessage = messages.replace(/&quot;/g, "\""); // 서버랑 웹페이지랑 JSON 양식이 달라서 맞춰줌

	jsonfunc(jsonMessage); // JSON 을 파싱해서 HTML 로 표현함

	function jsonfunc( jsonText ) {
		let arrname = new Array(); // 이름 배열
		let arraddress = new Array(); // 주소 배열
		let arrphone = new Array(); // 전화번호 배열

		let json = JSON.parse(jsonText); // JSON 형식으로 뽑아서 객체화

		for(i=0; i< json.length; i++){ 
			console.log(i + "번째 데이터");
			console.log(json[i]);

			arrname[i] = json[i].name;
			arraddress[i] = json[i].address;
			arrphone[i] = json[i].phone;
		}

		// Javscript 로 HTML 속성 추가
		let table = document.getElementById('table');

		for(i=0; i<arrname.length; i++){
			let tr = document.createElement("tr"); // 테이블 행
			
			let td1 = document.createElement("td"); // 테이블 열을 만듦
			td1.appendChild(document.createTextNode(arrname[i] + "")); // 맴버 이름 배열을 가져와서 내용을 추가함
			
			let td2 = document.createElement("td");	// 테이블 열을 만듦
			td2.appendChild(document.createTextNode(arraddress[i] + "")); // 주소 이름 배열을 가져와서 내용을 추가함
			
			let td3 = document.createElement("td");	// 테이블 열을 만듦
			td3.appendChild(document.createTextNode(arrphone[i]+ "")); // 전화번호 배열을 가져와서 내용을 추가함
			
			tr.appendChild(td1); // 열1 을 기준 행에다 붙임
			tr.appendChild(td2); // 열2 을 기준 행에다 붙임
			tr.appendChild(td3); // 열3 을 기준 행에다 붙임
			
			table.appendChild(tr); // 기준 행을 테이블에다 붙임
		}
	}
</script>
</body>
</html>