<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddingcode.sopoomshop.mapper.ItemMapper">

    <update id="save" useGeneratedKeys="true" keyProperty="itemId">
        insert into items(name, buyPrice, salePrice, stock) values(#{name}, #{buyPrice}, #{salePrice}, #{stock})
    </update>

    <select id="findById" resultType="Item">
        select item_id, name, buyPrice, salePrice, stock 
        from items
        where item_id = #{item_id}
    </select>

    <select id="findAll" resultType="Item">
        select item_id, name, buyPrice, salePrice, stock
        from items
    </select>

</mapper>