<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddingcode.sopoomshop.mapper.OrderMapper">

    <update id="save" useGeneratedKeys="true" keyProperty="orderId">
    insert into orders(member_id, item_id, quantity, total)
    values(#{orderName}, #{itemName}, #{quantity}, #{total})
    </update>

    <select id="findById" resultType="Order">
    select  order_id, member_id, item_id, quantity, total
    from orders
    where order_id = #{order_Id}
    </select>

    <select id="findAll" resultType="Order">
    select order_id, member_id, item_id, quantity, total
    from orders
    </select>
    
</mapper>