<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddingcode.sopoomshop.mapper.OrderMapper">

    <update id="save" useGeneratedKeys="true" keyProperty="orderId">
    insert into orders(member_id, item_id, quantity)
    values(#{memberId}, #{itemId}, #{quantity})
    </update>

    <select id="findById" resultType="Order">
    select  order_id, member_id, item_id, quantity
    from orders
    where order_id = #{orderId}
    </select>


    <select id="findAll" resultType="OrderResultDto">
    select c.order_id, a.name as member_name, b.name as item_name, b.sale_price, c.quantity, (c.quantity * b.sale_price) as total
    from orders c
    left outer join members a
      on c.member_id = a.member_id
    left outer join items b
      on c.item_id = b.item_id
    </select>
</mapper>