<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <title>소품샵</title>
</head>
<body>
    <h1 style="text-align: center";>
        <span>소</span>
        <span>.</span>       
        <span>품</span>
        <span>.</span>  
        <span>샵</span>
        <span>.</span>  
    </h1>
    <p></p>
    <div class="middle">
    <button class="btn-0" id="button-box1" type="button" onclick="location.href='/members/new'">회원가입</button> <span class="padding"></span>
    <button class="btn-0" id="button-box2" type="button" onclick="location.href='/members'">회원조회</button>
    </div>
    <br>
    <div class = "middle">
    <button class="btn-0" id="button-box3" type="button" onclick="location.href='/items/new'">상품등록</button>
    <button class="btn-0" id="button-box4" type="button" onclick="location.href='/items'">상품조회</button>
    </div><br>
    <div class = "middle">
    <button class="btn-0" id="button-box5" type="button" onclick="location.href='/orders/new'">주문등록</button>
    <button class="btn-0" id="button-box6" type="button" onclick="location.href='/orders'">주문조회</button> 
    </div>

</body>
</html>