<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile"> <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록</title>
</head>
<body>
    <h1>상품등록</h1>  <button id="button-box1" type="button" onclick="location.href='/'">메인화면</button>
    <form action="/items/create-item" method="post" name="Createitem">
        <p>상품명   <input id="name"  type="text" name="name" placeholder="상품명" minlength="4" onchange="checkInputEmptyFunction(this)"></p>
        <p>매입가   <input id="buy" type="number" name="buyPrice" placeholder="매입가" min="100" maxlength="10" onchange="checkInputEmptyFunction(this)"></p>
        <p>판매가   <input id="sale" type="number" name="salePrice" placeholder="판매가" onchange="checkInputEmptyFunction(this)"></p>
        <p>재고수량 <input id="stock" type="number" name="stock" placeholder="재고" min=10 max="1000" maxlength="4" onchange="checkInputEmptyFunction(this)"></p>
        <div style="line-height:50%;">
            <br>
            <br>
        </div>
        <div class="button-box">
            <button type="button" value="submit" onclick="checkBeforeSubmit()">등록</button>
        </div>
    </form>
    
    <script>

        // 입력값 없을 시 오류 안내 
        // Onchange (변경사항이 있을 경우)
        function checkInputEmptyFunction(obj) {
            if (!obj.value) {
                alert(obj.placeholder + '에 빈 값은 입력 불가합니다.');
                obj.focus();                        // 포커스 이동
                return false;                       // 입력중단
            }
        }

        // null 값 제외 조건 (onClick)
        function checkNull(){
            const name = document.getElementById('name').value;
            const buy = document.getElementById('buy').value;
            const sale = document.getElementById('sale').value;
            const stock = document.getElementById('stock').value;

            if(name == "" || buy =="" || sale =="" || stock == "" ) {
                alert('필수 값을 입력하십시오');
                return false;
            }
            return true;
        }

        // 판매가 조건 (onClick)
        function checkSalePrice(){
            const sale = document.getElementById('sale').value;
            const buy = document.getElementById('buy').value;

            if(buy >= sale || buy == "" || sale =="") {
                alert('판매가는 매입가보다 커야합니다.');
                return false;
            }
            return true;
        }

        // 버튼 클릭 전 체크
        function checkBeforeSubmit() {
            if (checkNull()) {
                if (checkSalePrice()) {
                    document.Createitem.submit();
                }
            }
        }

        // json 형식으로 자료보내기 // 
        const Createitem = document.querySelector('.form') 

        Createitem.addEventListener('submit', event => {
            event.preventDefault();
            const CreateItemData = new CreateItemData(Createitem);
            const data = Object.fromEntries(CreateItemData);

        fetch("/items/create-item", {
            method : 'get',
            headers : {
                "Content-Type" : "application/json"
            },
            body : JSON.stringify(data),
        }).then(res => res.json())
          .then(data => console.log(data))
          .catch(error => console.log(error))
    });
    </script>
</body>
</html>